extends layout

block content
  h1= title
  p Shashidhar Reddy Peddireddy
  button(type="button", class="btn btn-primary", onclick="update()") Press Me for the contents
  |
  div(id="target") Display

  a(href = '/Pen') Pen Page link
  |
  script. 
    let client_count = 0;
    function update() {
      client_count = client_count + 1;
      document.getElementById("target").innerHTML = `Value now ${client_count}`  ;
      }